.produtos{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .produtos__item{
        padding:1em;

        .produtos__nome{
            font-size:1.2rem;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
    
        .produtos__preco{
            font-weight: bold;
            font-size: 1rem;
        }
    
        button{
           width:200px !important;
           border:none;
           background-color: #000;
           color:#fff;
           font-weight: bold;
           height: 40px;
           margin-top: 15px;
           font-size:1rem;
        }

        button:hover{
            background-color: #000000d2;
        }

    }

  
}