@media(min-width:1152px){
    main{
        display:flex;
        margin:0 auto;
        max-width: 1200px;
        .menu__mobile{
            display: none;
        }

        .filter{
            width:40%;
            max-width:200px;
        }
    }
   
    .produtos__item{
        width:30%;
    }
  
}